[2015-10-07 12:57] ypriverol opened #2 "Contribution"
@javizca @lgatto @ruiwanguk I will way for the first iteration, new ideas before add any other idea. @timosachsenberg I already add your contribution to Rule 1 and 2.

[2015-10-07 15:40] timosachsenberg commented on #2
did you see that I updated the PR with contributions to the other rules?

[2015-10-07 15:41] ypriverol commented on #2
I was in the merge? PR?

[2015-10-07 16:11] timosachsenberg commented on #2
yep

[2015-10-07 16:12] ypriverol commented on #2
I accpted all the changes in the merge and only remove some minor things in the introduction.

[2015-10-08 13:21] lgatto opened #3 "Doing what we preach - github best pratice"
I would suggest to prepare a README that describes this repo, documents how to contribute, specifies a licence, ... implementing best practice that we want to advertise. This will also be a good way to review the current rules. I'll give it a go in the coming days.

[2015-10-08 13:23] ypriverol commented on #3
@lgatto I will do it!!!

[2015-10-22 12:25] #2 closed

[2015-10-23 09:34] lgatto opened #5 "Rule 11: don't use binary files"

[2015-10-23 09:56] lgatto commented on #5
That was sarcasm re doc file!

[2015-10-23 10:18] #3 closed

[2015-10-23 10:29] ypriverol commented on #5
@lgatto old doc file of manuscript removed from the git repo

[2015-10-23 10:29] #5 closed

[2015-10-26 18:12] julianu opened #8 "Format the lines of the document"
It will probably be much easier to see the actual changes, if we reformat the document line width to 80.
Now, each paragraph gets completely "changed", if only a typo was fixed.

[2015-10-27 05:59] lgatto commented on #8
+1
I'll wait that this has been done and @julianu last PR has been merged before sending another PR.

[2015-10-27 11:08] ypriverol commented on #8
Can I close this issue @lgatto

[2015-10-27 11:37] #8 closed

[2015-10-28 11:07] lgatto opened #13 "Disclaimer"
We need a disclaimer a conflict of interest note clarifying that we have no affiliation with GitHub and that they were not involved in this work.

[2015-10-28 14:36] ypriverol commented on #13
@lgatto can you add that?

[2015-10-28 18:40] lgatto commented on #13
Sure, will do.

[2015-11-10 16:10] lgatto opened #16 "Asking for comments and external contributions"
Excellent idea. Could we postpone this a bit until we sort out the last details?

[2015-11-11 16:59] ypriverol commented on #16
@lgatto @timosachsenberg more than happy to make the current version available for comments!!!

[2015-11-11 17:00] timosachsenberg commented on #16
maybe after we added the disclaimer?

[2015-11-11 17:02] ypriverol commented on #16
Do you have an example of a disclaimer?

[2015-11-18 07:43] ypriverol commented on #13
@lgatto already added the disclaimer, can you do the merge and we can give one week of external contributions.

[2015-11-18 09:56] lgatto commented on #13
Sorry, am in grant writing mode and could no follow the latest discussion. Will read you addition and merge, and follow up with the rest after submission.

[2015-11-23 21:26] lgatto commented on #13
Just had a look at the disclaimer branch. That's not really what I meant and I don't really understand why we would want to add this. With disclaimer, I meant a statement explaining that we are not affiliated with github and that these views reflect our owns without any input from github.

[2015-11-23 21:34] lgatto commented on #13
From the README file:

Feel free to amend as you see fit.

[2015-11-23 21:34] #13 closed

[2015-11-23 21:57] ypriverol commented on #13
Can you add your idea!!!

On Mon, Nov 23, 2015 at 9:26 PM, Laurent Gatto <notifications@github.com>
wrote:

--
Yasset Perez-Riverol PhD.
Bioinformatician
Proteomics Services Team, PRIDE Group
European Bioinformatics Institute (EMBL-EBI)
Wellcome Trust Genome Campus, Hinxton
Cambridge CB10 1SD, UK
Twitter: @ypriverol

[2015-11-23 23:18] ypriverol commented on #16
@lgatto we are ready to get some external feedback

[2015-11-23 23:26] lgatto commented on #16
Ok

[2015-11-23 23:26] #16 closed

[2015-11-26 14:40] Leprevost opened #19 "Rule alteration/proposal"
@ypriverol @lgatto

I think it would be interesting to include a paragraph explaining how to make your repository citable by other papers.
Some time ago, GitHub and ZENODO have partnered to allow DOI attributions to repositories, this is an interesting alternative to just use papers DOIs since software evolve over time in a faster way than papers do.

This could be included in the rule \#8 i guess

[2015-11-26 14:41] Leprevost commented on #19
nevermind, found it!
good job

[2015-11-26 14:41] #19 closed

[2015-12-01 21:18] ypriverol opened #21 "Ready to submit"
@lgatto @Leprevost @julianu @timosachsenberg Ready for the last review and submit. Please give me a +1

[2015-12-02 02:16] Leprevost commented on #21
+1

[2015-12-02 10:24] timosachsenberg commented on #21
its still missing some information like affiliations of all authors, grants etc.

[2015-12-02 10:25] ypriverol commented on #21
Please can you add this information, I will do it in my case.

[2015-12-02 14:57] julianu commented on #21
added the affiliation.
please accept the changes of Felipe to give it a final read

[2015-12-02 19:57] lgatto opened #26 "Format for submission and refs"
What format are you going to submit?

Re references, you can use a bibtex file, the in the text, cite using `[@label]` and compile, with references with
[code]
adapting `bibstyle.csl` to the style needed.

[2015-12-02 19:59] ypriverol commented on #26
@laurent for the journal we will convert the current version to doc file and we will make available this version also, the problem is that submission also needs doc files.

[2015-12-02 20:04] lgatto commented on #26
Submission needs doc file? That depends very much were you want to submit.

[2015-12-02 20:05] ypriverol commented on #26
Plos One?

[2015-12-02 20:06] javizca commented on #26
I told Yasset already. If the manuscript is too long over 2500 words (those are the guidelines for this type of manuscript) it will need to be shortened before submission.

[2015-12-02 20:07] lgatto commented on #26
PLoS have a LaTeX template.

[2015-12-02 20:08] ypriverol commented on #26
We will try, if is to complex we will convert to pdf the final version.

[2015-12-02 20:09] lgatto commented on #26
So we need a hefty cut down, as we are currently at about 3100 words.

[2015-12-02 20:11] ypriverol commented on #26
Something important @javizca if we remove some words to match the Journal guidelines, the final version should be approved here. Perhaps is better before the final submission if we do this cut using the same strategy based on pull requests.

[2015-12-02 20:12] ypriverol commented on #21
Thanks for adding this details.

[2015-12-02 20:12] #21 closed

[2015-12-02 20:12] lgatto commented on #26
I agree with @ypriverol - don't get started with fiddling and emailing a doc file. Honestly, given the content of this paper, that would be ridiculous.

[2015-12-02 20:15] ypriverol commented on #26
@lgatto we will do our best ;) but sure tomorrow @javizca and my self will work to remove some content and we will make clear the changes to be approve. BTW @lgatto can you help me adding the references using bitex and Latex. It would be great if you can add also some format, I can try to look for the Plos in Computational Biology template for Latex.

[2015-12-02 20:29] lgatto opened #27 "references"
@ypriverol could you copy the PMIDs of all the references in this issue and I'll create and add the bibtex file.

[2015-12-02 20:30] lgatto commented on #26
Have you sent a submission enquiry to PLoS Comp Biol?

[2015-12-02 20:30] ypriverol commented on #27
Ok I will do it

[2015-12-02 20:34] javizca commented on #26
Yes, it was done quite a few months ago.

[2015-12-02 20:43] lgatto commented on #26
Ok then, conversion to PLoS template should be easy from `md` to `tex` then using the sty provided by the journal. Let's do this once the version is close to final.

[2015-12-02 20:48] ypriverol commented on #26
@laurent Here the latex template from Plos http://journals.plos.org/ploscompbiol/s/file?id=SyJ3/plos-latex-template.zip

[2015-12-02 20:56] ypriverol commented on #26
@lgatto you can merge the latest pull request and them add Plos style and the references after that, we will provide that latest changes open a new full request for the final approval and we will submit. Agree ?

[2015-12-02 22:11] lgatto commented on #26
No, that's not how it works. PLoS provides a LaTeX template, not markdown AFAIK. Let's do this conversion after the massive cut-down.

[2015-12-02 22:40] ypriverol commented on #26
ok

[2015-12-07 17:55] #27 closed

[2015-12-07 17:56] ypriverol commented on #26
@lgatto ready, all major changes are included can you add the template?

[2015-12-07 22:07] lgatto commented on #26
I'm busy at a conference and teaching until Thursday. Will get a go after that.

[2015-12-09 23:21] lgatto opened #32 "reference clarification"
What is this reference:

Is it
- this book [Continuous Integration: Improving Software Quality and Reducing Risk](http://www.amazon.com/gp/product/0321336380)
- this [web page](https://www.thoughtworks.com/continuous-integration)
- a comment on a web page?

[2015-12-09 23:22] ypriverol commented on #32
This is a web page

[2015-12-09 23:22] lgatto commented on #32
which one?

[2015-12-09 23:23] ypriverol commented on #32
We can replace by the book Continuous Integration: Improving Software Quality and Reducing Risk

[2015-12-09 23:25] lgatto commented on #32
But that does not make sense any more with your text

What is this 2006 reference by Fowler et al.?

[2015-12-09 23:27] ypriverol commented on #32
The article is this https://scholar.google.co.uk/scholar?hl=en&q=Continuous+integration.%22+Thoughtworks&btnG=&as_sdt=1%2C5&as_sdtp=

[2015-12-09 23:50] lgatto commented on #32
C'mon, what's that supposed to be

![2015-12-09-234216_725x342_scrot](https://cloud.githubusercontent.com/assets/384198/11702513/27319f4e-9ecf-11e5-8090-657cd918e192.png)

This reference does not relate to anything

[code]
Is it possibly this [page](http://www.martinfowler.com/articles/continuousIntegration.html)?

[2015-12-10 07:22] ypriverol commented on #32
https://scholar.google.co.uk/scholar?q=Continuous+integration+Fowler&btnG=&hl=en&as_sdt=0%2C5 Agree with the reference.

[2015-12-10 09:21] #32 closed

[2015-12-13 23:01] lgatto opened #34 "Using you/your or one"
The text addresses a reader directly with the _you_/_your_ form. This sounds rather casual - is this a conscious decision? Would the more formal use of _one_ be more appropriate?

[2015-12-13 23:08] ypriverol commented on #34
Please @lgatto use the one that you consider more appropriate, we were discussing here this topic, because also the Ten simple rules manuscript is also kind of casual/informal manuscript. But I will accept your proposal.

[2015-12-13 23:10] lgatto commented on #34
Which is why I'm asking - I will check in previous examples and follow what has been done.

[2015-12-13 23:17] ypriverol commented on #34
I think you/you is fine. Here some examples

[2015-12-13 23:20] javizca commented on #34
I tried to make it a bit more homogeneous in this respect, but it is still not "perfect". The rules are written in a very informal way, but maybe the "yous" could still be replaced more by "the user". But these manuscripts are quite informal so, maybe it can be kept this way. I can do a final read before submission and take the decision there.

[2015-12-13 23:22] ypriverol commented on #34
@javizca  and @lgatto  I was reading a couple of examples and all of them use you/your because it is the idea to make close the manuscript to the users. See examples:

Then I think we are find if we use the same style.

[2015-12-13 23:24] lgatto commented on #34
Ok, leaving the informal you/your then.

[2015-12-13 23:24] #34 closed

[2015-12-13 23:43] lgatto opened #35 "Clarification"
What do the numbers in

mean?

[2015-12-13 23:45] ypriverol commented on #35
@lgatto this is a suggestion from @timosachsenberg about how to call issues and milestones.

[2015-12-14 12:44] lgatto commented on #35
If this is not clarified, it should be removed. Re-opening to remind myself to amend accordingly.

[2015-12-14 12:55] lgatto commented on #35
Close me only once PR #38 is merged.

[2015-12-15 20:41] #35 closed

[2015-12-16 11:10] lgatto commented on #26
@javizca I currently count about 2870 words. More cutting down or conversion to LaTeX and pdf?

[2015-12-16 11:12] javizca commented on #26
Let's try it this way. If they complain, we can always cut it down later. Quite often these limits are not strict, they are just guidelines.

[2015-12-16 11:13] javizca commented on #26
As I mentioned, the figure legend needs still to be added. But I am not even sure everyone was happy with the current version of the figure. I will seen a separate e-mail about this in the next 5 min.

[2015-12-16 11:16] lgatto commented on #26
There is a legend:

[2015-12-16 11:22] javizca commented on #26
Is this more correct? Otherwise, perfectly fine for me.

The structure of a GitHub-based project illustrating the projects' structure and the interactions with the community.

OR

The structure of a GitHub-based project illustrating the structure of projects and the interactions with the community.

[2015-12-16 11:25] lgatto commented on #26
If you mean projects and interactions in general (i.e more than 1), I think it should be

or even

If only one in particular (which I think is not appropriate here)

[2015-12-16 11:30] julianu commented on #26
+1 on "The structure of a GitHub-based project illustrating project structure and interactions with the community."

[2015-12-16 11:34] javizca commented on #26
BTW, the figure does not need to be included in the manuscript file. I have just checked it.

And Acknowledgements to financial sources must not be included there either, so please delete that part. They must be provided in the manuscript submission system. I will do it there.

[2015-12-16 11:43] javizca commented on #26
About the legend, what about ...? (they are a bit less redundant)
"Overall framework of GitHub-based projects illustrating their structure and interactions with the community".

or just

"Overall structure of GitHub-based projects".

[2015-12-16 11:51] lgatto commented on #26
is very vague.

Why framework?

[2015-12-16 15:18] javizca commented on #26
It is fine for me whatever you think is best.

[2015-12-17 07:29] fu commented on #26
maybe something like "Overall structure and workflow of GitHub-based projects maintaining stable releases while interacting with the community".

Another point, if fig 1 is in color we could use the actual colors for the "build passing" shield from Travis. Makes it easier to recognize.

[2015-12-17 22:40] lgatto commented on #26
Yes, indeed.

@javizca I'm not sure about that one. Acknowledgements might need to be added in the submission system, but I think they should still come in the manuscript - that what I did for my recent submission and there is an Acknowledgement in the template.

[2015-12-17 22:50] lgatto commented on #26
@javizca the PLoS pdf and LaTeX are on github now. Let me know if you need anything.

[2015-12-17 22:53] lgatto commented on #26
@javizca there are also instructions in the `README.md` file documenting the conversion.

[2015-12-17 22:55] javizca commented on #26
@lgatto When we submitted this manuscript last year (http://www.ncbi.nlm.nih.gov/pubmed/?term=25033262), I was explicitly asked to remove the acknowledgements to the financial sources afterwards. I had to repeat the submission.

[2015-12-17 22:59] lgatto commented on #26
@javizca Interesting, I submitted on the 7th October with acknowledgements,  and haven't had any complains. Well, if manuscript submission was an effective process, I suppose we would know by now...

[2015-12-17 23:01] lgatto commented on #26
Closing, as the format and refs issue is solved.

[2015-12-17 23:01] #26 closed

[2015-12-17 23:02] lgatto opened #46 "Adding tag upon submission"
@javizca once you have submitted, could you tag all the files in the repo as `v1.0`, please (or let me know and I'll do it). Thanks.

[2015-12-17 23:12] javizca commented on #46
Do we need the figure legend in the main manuscript? I am not sure actually, after reading the instructions to authors. I usually put them there, but it seems it may not be mandatory. We have only one figure anyway.
I can submit it like that and wait till it goes under review.
In any case, I think we should wait till that for version 1.0.

[2015-12-18 00:36] lgatto commented on #46
Can't push tags to this repo. Whoever has these rights, please do the following:
[code]

[2015-12-18 08:43] julianu commented on #46
done

[2015-12-18 08:43] #46 closed

[2015-12-24 17:52] rmflight opened #48 "incorrectly refer to bootstrap as platform"
In **Rule 9**, "bootstrap" is referred to as a platform

I think this is incorrect, as from my understanding Bootstrap is rather a framework that provides CSS and javascript that makes it easy to generate really nice websites that scale well across different screens. Disqus, in contrast is a platform, as it is hosted elsewhere and provides a central platform for commenting.

[2015-12-26 21:48] lgatto commented on #48
Thanks @rmflight for your suggestion. I'll keep the issue open so that we can address this in the next round of updates.

[2016-01-21 00:10] lgatto opened #49 "A Quick Introduction to Version Control with Git and GitHub"
[A Quick Introduction to Version Control with Git and GitHub](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004668) was just published. We should definitely cite it.

[2016-01-21 00:18] ypriverol commented on #49
+1

[2016-02-09 15:54] ypriverol opened #50 "Review Comments - First Iteration."
@lgatto @julianu @ruiwanguk @javizca @Leprevost @timosachsenberg Hi all of you. We have already the feedback from the reviewers. I suggest to create issues with each comment and then we can address, comment and close them. Please give me a +1 if you are Agree. I can split all of them.

[2016-02-09 15:55] Leprevost commented on #50
+1

[2016-02-09 15:58] lgatto commented on #50
You are asking me to agree/disagree with something I have not seen/read. Please create a `REVIEW.md` file with the editors email, containing the reviews, so that we can read the feedback.

[2016-02-09 15:58] timosachsenberg commented on #50
+1

----- Original Message -----
From: "Yasset Perez-Riverol" <notifications@github.com>
To: "ypriverol/github-paper" <github-paper@noreply.github.com>
Cc: "Timo Sachsenberg" <sachsenb@informatik.uni-tuebingen.de>
Sent: Tuesday, 9 February, 2016 4:54:50 PM
Subject: [github-paper] Review Comments - First Iteration.  (#50)

@lgatto @julianu @ruiwanguk @javizca @Leprevost @timosachsenberg Hi all of y

[2016-02-09 15:59] lgatto commented on #50
Just got the email from Juan. I can create the REVIEW file.

[2016-02-09 16:00] ypriverol commented on #50
@lgatto Juan just sent an email with the reviewer comments, that is the reason why I propose this

[2016-02-09 16:15] julianu commented on #50
+1

[2016-02-09 16:31] ypriverol commented on #50
@lgatto do you think is a bad idea to split all comments in issues or do you think we should work on this using the REVIEW.md document. The idea with the issues is that we can trace better the new changes and improvements.

[2016-02-09 16:35] lgatto commented on #50
Reviers 2 and 3 comments can be addressed by open/amend/close issues (so +1 for these), but what Titus suggest, and I am inclined to agree with him requires more thoughts.  Do we want to address 2 and 3 first, and think about 1 afterwards, or other way?

[2016-02-09 16:37] lgatto commented on #50
A bit of both.

[2016-02-09 16:37] ypriverol commented on #50
I will argue yes, The idea is to split and summarized the simple things to address first in some issues (cluster some comments that are related). Especially as you said the comments from 2 and 3.

[2016-02-09 16:39] lgatto commented on #49
Another one that we missed, pointed out by Titus

[2016-02-09 16:40] lgatto commented on #50
Ok then, let's go for reviewer 2 and 3 points with separate issues, then we proceed with more substantial refactoring.

[2016-02-09 16:42] ypriverol commented on #50
Ok. I will start to create the issues (cluster comments and point to the especific part of the REVIEWS File).

[2016-02-09 16:56] ypriverol opened #52 "Title should be refined"
## Reviewer 3:

[2016-02-09 17:04] ypriverol opened #53 "Introduction Refinements"
# Reviewer 2:

# Reviewer 3:

[2016-02-09 17:08] ypriverol opened #54 "Add to each Rule prototype examples of best practices"
#Reviewer 2:

[2016-02-09 17:17] ypriverol opened #55 "Rule 5 about unit tests and continues integration must be refined or even split"
# Reviewer 2:

[2016-02-09 17:19] ypriverol opened #56 "Small change in Rule 3 about branching goal"
# Reviewer 2:

[2016-02-09 17:20] ypriverol opened #57 "Include an explicit sentence about publication in per-review journals"
# Reviewer 2:

Rule 9 does not mention the obvious, effective, and essential method for promoting one's project -- publishing in the peer-reviewed scientific literature!

[2016-02-09 17:21] ypriverol commented on #50
Hi all do you think it would be interesting to add the reviewers to this interaction, at the end we know them and we have their account (at least for the public reviewers)

[2016-02-09 17:24] Leprevost commented on #50
hum, I think that we could at least extend the invitation to them, that would become a very interesting example of a open peer-review process =)

[2016-02-09 17:30] ypriverol opened #58 "Github or Git should be removed from the title of the Rules"
# Reviewer 2:

[2016-02-09 17:34] ypriverol opened #59 "Small changes in Rule 1"
Replace organizations with lab or projects in Rule 1

# Reviewer 2:

# Reviewer 3:

   b) "Structuring your projects allows to manage permissions and restrict access at different levels:
   users, teams and organisations." Maybe "Project managers can structure projects to manage…"
   c) Repositories: The bit on repositories should be described earlier, not at the end. You are
   technically forkin

[2016-02-09 17:36] ypriverol opened #60 "Changes for Rule 8"
# Reviewer 3:

[2016-02-09 20:37] lgatto commented on #50
See [this](https://twitter.com/ctitusbrown/status/697092242142416896) tweet

![2016-02-09-203059_611x294_scrot](https://cloud.githubusercontent.com/assets/384198/12929815/baf7abb0-cf6c-11e5-9cbc-806ac8e84263.png)

Let's do our job first, then request more feedback from the community and reviewers, if they wish.

[2016-02-12 07:59] ypriverol commented on #52
@all We have to options here or replace the word

    1- 'bioinformatics' by Scientist

 or open even more the scope and remove the last word:

    2 - Ten Simple Rules for Taking Advantages of GitHub

option **3** is keep the title and justiied why

What do you think?

[2016-02-12 08:11] julianu commented on #52
Actually I would prefer the second option. Though I do not now, whether this broadens the expectations to wide. But then, it will be published in PLOS Comp Biol and not some pure computer science journal, so the scope should be clear.

[2016-02-12 09:15] ypriverol commented on #52
I also like the option 2 because it solve the problem highlighted by the reviewer and also as @julianu said, it opens the scope to a more broadly audience.

[2016-02-12 09:47] lgatto commented on #52
I like option 2 too.

[2016-02-12 10:11] ypriverol commented on #52
@timosachsenberg @Leprevost @javizca @flu ?

[2016-02-12 10:18] javizca commented on #52
option 2 is fine

[2016-02-12 10:18] timosachsenberg commented on #52
option 2 is fine: is it really "Taking Advantages of" or should it be "Taking Advantage of"?

[2016-02-12 10:21] ypriverol commented on #52
@timosachsenberg good one. Let me ask to an english speaker. @tobias-ternet can you let us know what is the best way:

[2016-02-12 10:33] Tobias-Ternent commented on #52
You rang?
"Taking Advantage" would be best, because that means the following 10 rules will lead to success with GitHub.
"Taking Advantage**s**" instead isn't technically correct here- that would be best used instead if you were talking about how GitHub has benefits over something else for users.

I like this 2nd title in general, reminds me of the US sitcom entitled "8 simple rules (for dating my

[2016-02-12 10:50] ypriverol commented on #52
Thanks @tobias-ternent for the clarification.

[2016-02-12 11:09] ypriverol commented on #52
I change the title to the 2 option if some one is not happy we can always open the issue again.

[2016-02-12 11:09] #52 closed

[2016-02-13 08:56] ypriverol commented on #53
Reproducibility in the document is not mentioned as long-term reproducibility. Instead is more like the code/program/algorithms should be available like the data. I don't want to change the sentence because the idea is clear.

[2016-02-13 13:05] ypriverol commented on #58
Hi all ,I removed from rule 7 but I think is important in rule 2.

[2016-02-13 13:51] ypriverol commented on #60
Hi all Some changes where added in the present branch.

[2016-02-13 20:44] lgatto commented on #53
That's a very good point, and I will provide some of my repos/orgs. We should also put this repo somewhere in the text.

[2016-02-13 20:50] lgatto commented on #53
May be we should talk about [replicability, rather than reproducibility](http://lgatto.github.io/rr-what-should-be-our-goals/). But I think we need to highlight primarily traceability and flexibility.

There is more to it than availability - see above. I would even claim that availability is only a positive side effect of public code versioning. Git/GitHub are also terribly useful for private proj

[2016-02-13 20:53] lgatto commented on #58
Do you mean in the title only?

[2016-02-13 21:06] ypriverol commented on #58
Yes @lgatto in the title, I just created a pull-request with the changes.

[2016-02-13 21:10] ypriverol commented on #53
I was actually thinking in the correct word for that and really like replicability. Can you update the sentence. I like your idea.

[2016-02-15 10:17] timosachsenberg commented on #53
if we want we can also add OpenMS. Its a good example for  a larger (in the top 10% in team size according to OpenHub).

[2016-02-15 10:18] ypriverol commented on #53
Perfect, really like the idea, please add it.

[2016-02-18 01:41] ypriverol commented on #53
Just added the examples of repositories in the current version.

[2016-02-18 01:43] #58 closed

[2016-02-18 01:43] ypriverol commented on #57
included in the present version

[2016-02-18 01:43] #57 closed

[2016-02-18 01:44] ypriverol commented on #59
Complete addressed in the present version.

[2016-02-18 01:44] #59 closed

[2016-02-18 09:24] ypriverol commented on #53
@lgatto do you have a reference we can use for replicability, traceability?

[2016-02-18 11:09] lgatto commented on #53
I can do that now, but keep an issue for that specific point and I will get back to it asap.

[2016-02-26 16:17] ypriverol commented on #50
@lgatto the last pull-request before going to Titus comments is done. When anybody take a look and accept the changes, then we can invite the open reviewers (Titus) to take a look to the version.

[2016-03-15 14:39] #48 closed

[2016-03-15 14:41] #49 closed

[2016-03-15 15:16] lgatto opened #70 "Moving forward"
I know this was already present in the first iteration, but what is this supposed to mean?

Any objection to remove it?

[2016-03-15 15:17] ypriverol commented on #70
+1 Please remove it

[2016-03-15 15:20] lgatto commented on #56
First, I don't think this is a very elegant way to expressing ourselves, but, more importantly, it is completely non-understandable to anyone that hasn't used git/GitHub before. I suggest the following

[2016-03-15 15:22] lgatto commented on #56
I also suggest the following:

[2016-03-15 15:25] lgatto commented on #56
Last suggestion for this rule - title could be

Jus *Use branches* is not very useful for those that don't already know git/GitHub.

[2016-03-15 15:30] #70 closed

[2016-03-15 16:24] lgatto opened #75 "Automation - what tasks?"
What tasks? I don't think they are explicitly defined in the texts. I have removed that sentence, and also

which was incomplete and undefined.

Are the tasks (1) running code to check syntax, (2) testing and (3) generating documentation?

[2016-03-15 16:26] lgatto commented on #75
On a related note, that I will address in a later issue, I am wondering if rule 5 and 6 (automation, continuous integration) shouldn't be merged. For instance rule 5 is *The code must always be ready to use: continuously integrate* but CI is mentioned in rule 6. This change would also lead to make the 3 tasks above more explicit.

[2016-03-15 16:32] ypriverol commented on #75
@lgatto I was to merge them because it is also related with one of the reviewer comments https://github.com/ypriverol/github-paper/issues/55 . I agree with the merge. However, any simple mathematical operation in the rules will break the title. If we merge or split rules will not be any more Ten simple rules.

[2016-03-15 16:42] lgatto commented on #75
That's not a good reason to keep them separate, to be honest. But as I said, I will get back to this later, as I think I agree with Titus that the overall article is very technical and not useful to beginners. I am thinking of starting with a simpler rule 1.

[2016-03-15 16:50] #56 closed

[2016-03-15 16:54] ypriverol commented on #75
@lgatto Agree that is not a good reason. I only highlighted the issue in the title to keep that in mind. Also, agree to start with a simple rule that give a quick introduction or first contact of users with the article. I already create a Supplementary information that can be use to move technical discussions to it.

[2016-03-15 22:23] lgatto commented on #75
See PR #79

[2016-03-15 22:23] #75 closed

[2016-03-15 23:50] lgatto opened #80 "New rule - what/how git/github"
I have had a go at a first rule that should give newcomers an idea of what git/github are and how to use them - https://github.com/lgatto/github-paper

I haven't sent a PR yet as it needs more work and more changes in later rules (what is now rule 2 for example) will be required.

[2016-03-15 23:58] ypriverol commented on #80
@laurent I just take a look to it and looks really a good because it is an easy way to start. Timo and my self have been talking about the experience of writing a manuscript using github and the interaction we are planning to promote with the reviewers. Perhaps we should highlight that because it should be one of the first examples of this type of use in research.

[2016-03-16 00:14] lgatto commented on #80
See this paragraph at the end of the *issues* rule:

[2016-03-16 08:31] ypriverol commented on #80
Great

[2016-03-16 10:03] lgatto opened #81 "Mention git LFS somewhere"
I am temporarily removing this from the main text, as it sits a bit in the middle of nowhere

I will of course add it back, possibly under a new rule, that discusses what to track: text-based files vs binary data, large/small data, ...

[2016-03-16 10:15] ypriverol commented on #81
@lgatto This is a great idea because it is related with one of the reviewer comments about the GitHub large file storage.

[2016-03-17 09:21] #80 closed

[2016-03-17 09:22] #60 closed

[2016-03-17 09:47] lgatto opened #83 "RFC: New Rule"
Rules 5 (CI) and 6 (automation) where somehow redundant - the former defined the concepts and the latter explained how to implement this on GitHub. I have tried to rationalise this and combine them into a rule *Let GitHub do some tasks for you: integrate and automate*. Please comment here if you think this should be reverted.

This leaves room for a new rule. In issue #81, the LFS paragraph was no

[2016-03-17 10:53] ypriverol commented on #83
@lgatto I guess the problem of suggesting different structures s (in my opinion) like going into details and can be vias by our experience. We can focus the rule in the file types supported by github web, the LFS and probably give a couple of links about project management.

[2016-03-17 11:59] lgatto commented on #83
Ok, may be not a rule as such, but a box with additional tips. I think these are useful for people new to versioning and scientists (as opposed to programmers) - to be honest, the first version was not terribly helpful to newcomers. I will write this section as a additional note to rule 1.

[2016-03-17 12:40] ypriverol commented on #83
Agree!!

[2016-03-20 11:12] #50 closed

[2016-03-20 11:14] ypriverol opened #85 "Names of the Rules following the Reviewer 1 suggestions"
Reviewer 1 suggested to rename the rules like:

Rule N: Use GitHub to deliver and maintain versions of your code.
Rule N: Use GitHub to advertise your project. (can include web site)
rule N: Use GitHub to track issues reported by users.
Rule N: GitHub integrated services can do lots of nice things (CI).

Please let me know if you are agree. I would prefer to leave the name of Github for the things

[2016-03-20 17:19] ypriverol commented on #81
@lgatto the current pull-request contains a possible solution which is a Suplemental Note https://github.com/ypriverol/github-paper/pull/86 we can extend the current Supplemental Note explaining how to track: text-based files vs binary data, large/small data, ...

[2016-03-20 22:17] #55 closed

[2016-03-21 08:43] lgatto commented on #85
I have already changed some rules along these lines. I think having rules with simple and direct messages like that it good, and don't mind if GitHub appears. Please don't change everything quite yet, let's do this at the very end.

[2016-03-21 09:28] ypriverol commented on #85
Agree @lgatto I'm just saying that we should say clear in the respond to the reviewers that we changed the content and focus of each rule but not the titles. Just in those cases that make sense. My point is that we need to respond to the reviewers then I want to be clear and write the respond in to REVIEWER.md

[2016-03-21 21:19] ypriverol commented on #13
Enviado de Samsung Mobile

[2016-03-21 22:32] lgatto commented on #81
I think it would be better to have this in the main paper as a *box*; things get so easily lost in supplementary information, and I think this is important information, especially for new users, that could make their first versioning experience a success or a failure.

[2016-03-21 23:03] ypriverol commented on #81
ok.. feel free to move the current version of the Supplemental Note to a box.

[2016-03-22 11:52] ypriverol commented on #83
@laurent I moved again from Suppl information to main text the LSF part and summarise the complete section in one paragraph including a batch example to commit the files. Please take a look and let me know.

[2016-03-22 13:52] ypriverol commented on #81
@laurent the current version of the manuscript contains the proper text in rule 1 (see #86) . I remove the content from the Suppl to the main text. Please feel free to give the style that you want or refine it.

[2016-03-24 09:35] #81 closed

[2016-03-24 10:26] lgatto commented on #83
As the project management/LFS was not made a rule, we are missing one. So I split the integration/automation again in two, as was in the previous version. See PR #88

[2016-03-24 10:28] #83 closed

[2016-03-24 10:31] lgatto opened #89 "Final call for comments from authors"
Dear all - could you all have a read at the latest version and check that we have addressed the reviewers' comments by tomorrow evening. We can then have another round of public comments and then re-submit. Thanks in advance.

[2016-03-24 10:33] ypriverol commented on #89
@laurent perfect!!! I will try to move forward this with each author.

[2016-03-24 10:40] javizca commented on #89
I will have a thorough look at the beginning of next week. I have too many things to do right now. But we still have 2 weeks to resubmit based on the 60 days we were given. So, it will be fine.

[2016-03-25 13:11] lgatto opened #90 "Publishing software"
I definitely do not agree with parts of the following sentence (one adjective, actually)

Publishing software in peer-reviewed literature is certainly traditional, but definitely **NOT** effective. On the contrary! I have removed to erroneous adjective.

[2016-03-25 13:39] lgatto commented on #89
No worries, @javizca. Will request contributions from the community tonight, so you might even want to wait a bit.

[2016-03-25 13:49] lgatto commented on #85
Here is what we have for now (in PR)

[code]

I think we name GitHub where they provide the main feature, and don't when it's (mainly) a git feature. Anyway, they are more snappy now, I think.

[2016-03-25 15:24] #85 closed

[2016-03-25 16:09] lgatto opened #92 "Risk related to the commercial nature of GitHub"
Reviewer 2 highlighted the risks related to commercial products:

This is a very pertinent point, which is why it is good to highlight it here, in a dedicated issue. In our reply, we specify:

[2016-03-25 16:11] ypriverol commented on #90
Please go head

[2016-03-25 16:13] #90 closed

[2016-03-25 16:40] #53 closed

[2016-03-25 16:41] #54 closed

[2016-03-28 16:24] prvst commented on #89
+1

[2016-03-30 15:43] peterjc opened #94 "No .gitignore file"
The main ``README.md`` says to use ``make clean`` to avoid checking in anything other than changes to ``manuscript-plot.tex`` and ``manuscript-plos.pdf`` but I would suggest adding all the LaTeX intermediate files to a ``.gitignore`` file. e.g.

[code]

This probably falls under "Rule 2. Learn Git and embrace its power" although also maybe "Rule 6: Automate for better code quality" (here automate

[2016-03-30 16:00] rmflight opened #97 "Rule 3, paragraph 2 doesn't read right"
This sentence in paragraph 2 of rule 3 reads odd

It is unclear what exactly is meant here, and may need to have a concrete example rather than just this sentence.

[2016-03-30 16:13] peterjc opened #101 "Clarify "commit often, as most as you can, perfection later""
To me this "rule" does not flow as natural English, and the meaning is unclear. I'm unsure if the middle part means as often as possible, or as much as possible (i.e. all changed files)

[2016-03-30 16:18] peterjc opened #102 "... often coined as a social coding platform ..."
*It [GitHub] provides developers and researchers with a dynamic and collaborative environment, often coined as social coding platform, with the ability to review, comment and discuss code*

I presume you mean coined as a verb for inventing terminology, but it does not flow nicely.

How about *..., often referred to as a social coding platform, ...* or *..., often regarded as a social coding platfo

[2016-03-30 16:22] lgatto commented on #94
Thank @peterjc - have added a `.gitignore` file with your suggestion.

[2016-03-30 16:22] #94 closed

[2016-03-30 16:56] prvst commented on #102
_(...) often referred (...) _ sounds better to me

[2016-03-30 17:04] kblin opened #106 "Introduction, git not developed by Linus anymore"
In your introduction, you state that git was created and I'd developed by Linus Torvalds. Linus is not heading the git project anymore, it's now run by Junio Hamano.

[2016-03-30 17:16] ypriverol commented on #106
Thanks @kblin for the comment. I will make a correction to the introduction.

[2016-03-30 17:35] ypriverol commented on #106
Old version:

control system git, designed and developed by Linus Torvalds for the
development of the Linux kernel.

New version:

control system git, designed by Linus Torvalds for the development of the Linux kernel. Nowadays, git is developed and maintained by the git community (https://github.com/git).

[2016-03-30 17:57] #106 closed

[2016-03-30 18:02] ypriverol commented on #102
I replaced coined by viewed please @prvst accept the pull-request https://github.com/ypriverol/github-paper/pull/108

[2016-03-30 18:04] ypriverol commented on #102
+1 done

[2016-03-30 18:04] #102 closed

[2016-03-30 19:33] sje30 opened #110 ""README.md" is the second most important file in a repo"
The subject line comes from a talk given by Arfon Smith (github).  I think this is important to stress.  (That along with the first most important -- the LICEN[CS]E file.

[2016-03-30 19:38] sje30 opened #111 "When to go public with your repo?"
but thorny issue of when to make repo public needs addressing in
my view.  Here are some options:

1. make repo public from day 1.  Risk of getting scooped highest, but also highest potential gain from others joining in.  (http://opensourcebrain.org follows this model).

2. make repo private from day 1, then when to make public?

2a: at time of submission to journal.  this is what I do NORMALLY  i

[2016-03-30 19:39] sje30 opened #112 "Storing data with your code"
Many analyses require data files to run -- these can be stored in the repo if they are modest sized (up to a few MB), but you will hit problems with large data files.  Should this be mentioned?

[2016-03-30 19:43] sje30 opened #113 "Example repos"
Your last table provides lots of nice examples of learning about github etc.  But what about some example real-world repos to show code from real projects across the spectrum of bioinformatics?  e.g. some with branches, PRs, etc showing all the goodness of github in action?

[2016-03-30 19:46] sje30 commented on #101
"Commit early,commit often, and commit in a repository from which we
    can easily roll-back your mistakes" (AJR, 4Jan05).

The above quote is from the email signature of Tony Rossin (@blindglobe  on github).  I think that sums it up nicely and shows these ideas have been around for a long time.  Tony has been a long-term developer of Emacs Speaks Statistics.

[2016-03-30 19:53] ypriverol commented on #113
@sje30 we already included some from the authors. But feel free to recommend some of them. You can even add them and do a pull request.

[2016-03-30 19:59] ypriverol commented on #112
@sje30 We have in rule one a dedicated box to this issue **Box 1** It explain the benefits and also LSF in summary.

[2016-03-30 20:01] lgatto commented on #110
I think this is an important point that we should address. I will add this, either as a rule (we had discussion about merging some), or as a box. Thanks for this suggestion.

[2016-03-30 20:10] lgatto commented on #110
Here is @arfon's [CW14 talk](https://dl.dropboxusercontent.com/u/150135718/CW14/Arfon-Smith-27-03-14-CW14.pdf):
1. License
2. README
3. script/bootstrap

We definitely need to add this to the paper.

[2016-03-30 20:17] rmflight commented on #111
If repo is public from day 1, then how can you actually get scooped? Have public proof that you were working on this first, IMHO.

[2016-03-30 20:19] sje30 commented on #111
Yes you have proof.  But that doesn't stop others from being able to see your ideas, and publish their paper first.

[2016-03-30 20:34] peterjc commented on #101
Tony's version make more sense - although the final clause might be a bit too complicated for an introductory paper.

[2016-03-30 20:34] ypriverol commented on #111
@sje30 @rmflight probably is not the aim of the manuscript to say when get public rather than give or suggest the options.

[2016-03-30 20:37] ypriverol commented on #101
@sje30 How can we cite this quote?

[2016-03-30 20:37] blindglobe commented on #101
It sums up my development philosophy in a nutshell.  Especially since
encouraging experiments (and acknowledgement of future mistakes as being
good things) is a very core trait of making people perform (in software
development and life) above their own expectations.
On Mar 30, 2016 22:34, "Peter Cock" <notifications@github.com> wrote:

[2016-03-30 20:38] blindglobe commented on #101
Heck.  Just use it.  Even if you cannot cite it :)
On Mar 30, 2016 22:37, "Yasset Perez-Riverol" <notifications@github.com>
wrote:

[2016-03-30 20:49] lgatto commented on #111
I think this is actually an good point to address in the manuscript - we have the opportunity to make a clear statement about openness. This could be formulated in a `Box` on its own. We don't need to go into details and controversies about scooping, credit and precedence, but making it explicit that there are different paths to collaborative development (open from the beginning; closed, then open

[2016-03-30 20:50] lgatto commented on #111
I have assigned this to myself, but @sje30, feel free to help out.

[2016-03-30 20:52] ypriverol commented on #97
@rmflight we remove the sentence because it was redundant. take a look to the current version and close te issue if you are agree.

[2016-03-30 20:53] #112 closed

[2016-03-30 20:55] #97 closed

[2016-03-30 20:56] rmflight commented on #97
This looks much better!

[2016-03-30 20:57] sje30 commented on #111
happy to help flesh out.

[2016-03-30 20:57] rmflight opened #115 "should mention be at least made of Gitlab and Bitbucket?"
Both of these have similar features (not exactly same, but similar), and support unlimited private repos. And can host your own Gitlab for internal use.

Might tie in with #111 ??

[2016-03-30 21:01] sje30 commented on #111
@rmflight -- see also this blog post https://thewinnower.com/papers/3674-the-selfish-scientist-s-guide-to-preprint-posting

posting a preprint early maximises your chances for feedback, but also risk of being scooped.

[2016-03-30 21:02] lgatto commented on #101
What about

[2016-03-30 21:04] sje30 commented on #101
A quick dig around on the mailing list found this being used by Tony on 12 Jan 2005.  Probably not the first use, but early enough!

https://stat.ethz.ch/pipermail/r-sig-qa/2005-January/000007.html

[2016-03-30 21:05] sje30 commented on #110
Please do!

I think item 3 though seems quite specific to that repo.  My vote for the generic number 3 important file would be the Makefile.

[2016-03-30 21:06] lgatto commented on #115
These are mentioned in the first paragraph of the intro. Feel free to amend if you think it is not visible enough.

[2016-03-30 21:08] rmflight commented on #115
Hmm, will have to look again when I get home, as obviously didn't remember.

On Wed, Mar 30, 2016, 5:06 PM Laurent Gatto <notifications@github.com>
wrote:

[2016-03-30 21:12] ypriverol commented on #101
@lgatto I don't like the idea of adding a url of a mailing list to the page.

[2016-03-30 21:12] sje30 commented on #101
https://mailman.stat.ethz.ch/pipermail/r-help/2005-January/063587.html is 5th January.

[2016-03-30 21:12] lgatto commented on #111
@sje30 I have created the box for us to get started. Feel free to go ahead and send a PR if you get some time.

[2016-03-30 21:13] sje30 commented on #101
@ypriverol Agree -- no need to add the URL, its just an email sig, and you can point to this issue if you want to document the origin of the quote.  Much more useful than link to the mailing list archive.

[2016-03-30 21:13] lgatto commented on #101
There is no url in my suggestion.

[2016-03-30 21:14] blindglobe commented on #101
+1
On Mar 30, 2016 23:13, "Stephen Eglen" <notifications@github.com> wrote:

[2016-03-30 21:16] ypriverol commented on #101
Ok I will included it.

[2016-03-30 21:19] lgatto commented on #112
@sje30 does what we have cover what you meant, or can you think of something to add?

[2016-03-30 21:20] sje30 commented on #101
laurent, your change looks fine, although please note Tony's surname is Rossini (my mistake earlier).  how about also saying
    Following Tony Rossini's advice in 2005 to "commit ...

[2016-03-30 21:26] lgatto commented on #101
My mistake re surname. Good idea to add the date.

[2016-03-30 21:27] ypriverol commented on #101
@sje30 @lgatto is already added .. pull-request ready for you @lgatto https://github.com/ypriverol/github-paper/pull/116

[2016-03-30 21:27] lgatto commented on #101
Great!

[2016-03-30 21:27] #101 closed

[2016-03-30 21:28] sje30 opened #119 "making the pdf"
This is probably a "meta issue" as it is not about your paper content, but the mechanics of making the paper.  README says:

    Then include the text from manuscript.tex (ignore title, authors and references) into manuscript-plos.tex.

This sounds like a copy/paste operation, which we all know is a no-no for making reproducible papers!

Would you consider a patch to do this with a couple of unix

[2016-03-30 21:32] ypriverol commented on #113
@sje30 can you provide me a couple of suggestions of bioinformatics github repos. I don't want to be vias.

[2016-03-30 21:41] lgatto commented on #119
This was a case where manual was a short term time gain, even though it was not the right thing to do. Ideally, I would have used [rticles](https://github.com/rstudio/rticles), but at that time there was a problem with the PLoS template and I hadn't time to spare.

Patch more than welcome!

[2016-03-30 22:16] peterjc commented on #113
We will all have biases, but the Galaxy Project's main repo would be a good example of a large and well known Bioinformatics project with an international team contributing (both funded and unfunded), and does a lot of good things like files for their code of conduct, contributing, uses continuous integration, etc https://github.com/galaxyproject/galaxy/

[2016-03-30 22:18] sje30 commented on #113
here's one of mine that is outside bioinf (I'd call it computational neuroscience, rather than comp bio):  https://github.com/sje30/waverepo

[2016-03-30 22:28] lgatto commented on #113
@peterjc could you provide one galaxy reference to cite.

[2016-03-30 22:36] lgatto commented on #113
See #120

[2016-03-30 22:37] sje30 commented on #119
I see.
Although using rticles is nice, it then assumes others will be in the R universe to recompile the paper.

Wouldn't it be enough to do

    \input manuscript

within the manuscript-plos.tex file (which then has all the author information)?

Although why is `ack.md` in a separate file?

[2016-03-30 22:42] sje30 commented on #112
yes, thanks.

[2016-03-30 22:46] lgatto commented on #119
Just to separate them from the main text. I think we will need to change this anyway as PLoS want to input funding at submission and Acknowledgements for personal thanks.

[2016-03-30 22:48] lgatto commented on #119
Probably, yes.

[2016-03-30 22:57] alex-konovalov opened #122 "mentioning github wiki"
I am suggesting also to mention GitHub wiki to keep documentation (mostly developers' documentation, since user manuals should be rather included in the release and preferably also available on the website)

[2016-03-30 22:57] ypriverol commented on #113
Any good example for a bioinformatics lab repository.

[2016-03-30 22:59] lgatto commented on #113
I can't resist - there's https://github.com/ComputationalProteomicsUnit/, but the URL is so long.

[2016-03-30 23:00] lgatto commented on #122
Good suggestion, thanks.

[2016-03-30 23:04] alex-konovalov opened #123 "Using templates for issues and pull requests"
https://github.com/blog/2111-issue-and-pull-request-templates explains how to make templates for issues and pull requests (we haven't yet implemented them in GAP, but I've submitted an issue at https://github.com/gap-system/gap/issues/645).

A template could contain some reminders and checklists that could help to remind to add tests, document changes for the next release, check whether the branch

[2016-03-30 23:08] alex-konovalov commented on #115
GitLab also connects to #92 as one of possible exit strategies (but as far as I can see from #92, they are not discussed here).

[2016-03-30 23:13] ypriverol commented on #123
@alex-konovalov good point probably will be worst to mention this in the Supplemental Note with a detail explanation. What do you think @lgatto

[2016-03-30 23:16] lgatto commented on #123
We have a mention of simplicity of issues in the main text. I was about to add a sentence that explained that it is also possible to create templates and point to the GtiHub documentation.

[2016-03-30 23:20] alex-konovalov opened #125 "most important git command is 'git help'"
Once I've got a very good advice from someone: the most important git command is
[code]
and the next most important is
[code]
One should not rely on the network connection all the time to work with GitHub, and one can get the  documentation with `git help` even being offline. This may be worth to underline, to avoid false assumptions that going to GitHub is the only way to find help on Git.

I do

[2016-03-30 23:25] alex-konovalov commented on #123
@lgatto yes, probably just saying something like "one could also establish templates for issues and pull requests containing further instructions and checklists (e.g. a reminder to report the version being used etc.)" and not more.

[2016-03-30 23:25] ypriverol commented on #123
Done

[2016-03-30 23:25] #123 closed

[2016-03-30 23:28] lgatto commented on #125
I think we do emphasise that `git` works locally.  I have added  `git help [-a]` to the table 2. Thanks for your suggestion.

[2016-03-30 23:29] #125 closed

[2016-03-30 23:32] lgatto commented on #110
I would also add a `CITATION` file, or, alternatively, explain how to cite in the `README` file.

[2016-03-30 23:38] alex-konovalov commented on #110
@lgatto :+1: You beat me with `CITATION` by 5 seconds :) It fits nicely under rule 8.

Some projects also have `CONTRIBUTING` to split user and developer parts of README, but I'm afraid that already increases a list of files too much and may be omitted.

On a related note - would you like to explain that README.md and not README because GitHub will render markdown better, and also tell what markdo

[2016-03-30 23:53] alex-konovalov commented on #110
P.S. since LICENSE.md is already mentioned here: one could add "Further advice could be found, for example, at http://choosealicense.com/"  to the last paragraph of Rule 8. This is quite useful resource helping to choose a license if you're not a lawyer :)

[2016-03-31 00:21] #122 closed

[2016-03-31 00:42] lgatto commented on #111
@sje30 Here's what I have so far:

in https://github.com/lgatto/github-paper. Let's maybe address this in my fork before committing to the main repo.

[2016-03-31 01:03] lgatto commented on #110
I have added a *Box 3* in my local fork https://github.com/lgatto/github-paper. Comments and suggestion welcome.

@sje30 I haven't mention a `Makefile` in the end, as I thought this would diverge a bit too much from the main topic of the paper. We could possibly mention `Makefile`s in Rule 6 about automation although, again, we might err toward the general best practice away from `git` and GitHub.

[2016-03-31 01:56] #115 closed

[2016-03-31 06:04] sje30 commented on #110
OK re omitting make.

On 31 March 2016 02:03:46 BST, Laurent Gatto <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-03-31 08:50] sje30 commented on #113
also https://github.com/tgirke/tgirke.github.io
On Wed, Mar 30 2016, Laurent Gatto wrote:

[2016-03-31 08:56] ypriverol commented on #113
@lgatto Probably would be better to compile all the examples in the text in this table, even if we repeat them in both places. That means that readers can see them when they are reading the text (giving more context) and then in the table we summarize all the example including new ones (with the corresponding category).

[2016-03-31 08:57] sje30 opened #129 "How many bioinformatics papers have used github?"
I can't resist the question in the subject line.  it would be great if you could estimate how many papers have supporting code bases on github.

Some caveats:
1. At this stage, you should probably focus on re-submitting the paper, rather than dealing with new queries like this!
2. given that github repos are not regarded as stable URLs for long-term storage, many papers probably used github but th

[2016-03-31 09:04] lgatto commented on #113
Reopening issue to keep track of this.

[2016-03-31 09:11] lgatto commented on #110
@sje30 are you happy with Box 3?

[2016-03-31 09:26] ypriverol commented on #113
@lgatto agrre with the idea of put all examples from the manuscript in the table?

[2016-03-31 09:27] lgatto commented on #113
yes

[2016-03-31 09:35] peterjc commented on #113
@lgatto asked about how to cite Galaxy. In the absence of any papers specifically about the development model I would personally just cite Giardine *et al.* (2005) http://dx.doi.org/10.1101/gr.4086505 - but see https://wiki.galaxyproject.org/CitingGalaxy for more details.

[2016-03-31 10:04] alex-konovalov opened #130 "Formulation of Rule 8"
As a consistency check, I've tried to see if it's obvious for me what does each of the rules mean if I will just read the list of rules without looking at the content of the sections, and whether a reader unfamiliar with GitHub could make sense of them. I think everything looks great, with the only exception (not github-related) in the Rule 8. What would you like to say by "and cite source code" ?

[2016-03-31 10:39] sje30 commented on #129
http://www.ncbi.nlm.nih.gov/pmc/?term=github  returns 4861 hits this morning...  that's pretty neat.

[2016-03-31 10:48] lgatto commented on #129
I initially thought you mean actual papers written on github. If it is papers that have some code/analyses on github, I would have expected more; not sure how much, but more.

[2016-03-31 10:50] sje30 commented on #129
No, I didn't mean papers written on github.  I meant analysis on github that appeared in papers.  I have some more data to share...

[2016-03-31 11:00] sje30 commented on #129
I did a search on europepmc.org to find the occurrences of github.com in OA life-sciences papers.  The search query was
   http://europepmc.org/search?query=github.com%20AND%20PUB_YEAR%3A2015

and varied the year in each case.  Here are the results showing the rise of github in the life-sciences:

year | count
-------| -------
2015 | 1819
2014 | 1077
2013 | 458
2012 | 162
2011 | 72
2010 | 23
2009

[2016-03-31 11:02] sje30 commented on #129
Perhaps there are more robust ways of finding github references on europepmc?

[2016-03-31 11:12] lgatto commented on #129
That's very interesting!

[2016-03-31 11:13] sje30 commented on #129
Here's the R way of doing the count:

[code]

[2016-03-31 11:16] alex-konovalov commented on #129
FYI, "github bioinformatics" returns 10500 results on Google Scholar

[2016-03-31 11:16] ypriverol commented on #110
@lgatto I like both the current version. I guess we can close this issue.

[2016-03-31 11:20] sje30 commented on #129
`counts(2016)` already returns 499 hits.  Given the delay in getting papers onto PMC, 4*499 is likely to underestimate the counts for this year...

[2016-03-31 11:28] ypriverol commented on #130
@alex-konovalov the intention is to promote that scientific manuscript also cite code by using the Zenodo DOI or other mechanisms. It will convert the source code of your project to a research "product" than can be easily cited an trace. Also it will promote the use of these citations independently of traditional publications associated with the software.

[2016-03-31 11:29] sje30 commented on #110
I like it, but two minor suggestions:

1. write "three" not "3".

2. I thought Arfon said LICENCE was most important, followed by README, and I think that you should list them in that order too.

[2016-03-31 11:33] alex-konovalov commented on #130
@ypriverol ok, so in other words, I understand this as you'd like to say that the authors should show examples of a good practice by citing their own code in their papers using the best possible way (which is with DOI). Thanks for clarification.

[2016-03-31 11:37] ypriverol commented on #130
@alex-konovalov can you close the issue or do you want me to do some changes in the text.

[2016-03-31 11:39] ypriverol commented on #110
@sje30 done

[2016-03-31 11:41] alex-konovalov commented on #130
I was trying to suggest better formulations, but neither "and cite own source code" nor "and cite (your) source code yourself" sound good, so in the absence of another ideas, I will just close it.

And also, but saying "and cite source code" we are encouraging to properly cite source code written by anyone, what's absolutely right thing to do.

[2016-03-31 11:44] danielskatz commented on #130
The language is a bit awkward (word order and choices often don't sound like American English) to me, but fully understandable as is.  For example, "Zenodo takes an archive" would be better to me as "Zenodo makes an archive" or "Zenodo creates an archive", and "providing openly" would be better for me as "openly providing".

[2016-03-31 11:48] ypriverol commented on #130
@danielskatz would be great if you want to fork and make those changes. More than happy to accept then.

[2016-03-31 11:52] danielskatz commented on #130
If you are not in a hurry, I can do this later today

[2016-03-31 11:53] ypriverol commented on #130
please your more than welcome.

[2016-03-31 11:56] sje30 commented on #129
![github-usage](https://cloud.githubusercontent.com/assets/1095067/14174968/fb2a569c-f73f-11e5-849a-510ea5bd1c28.png)

[2016-03-31 11:57] alex-konovalov opened #133 "do not put derived files under version control"
(shortly before leaving the office) The title says is all - would you like to add this recommendation too?

[2016-03-31 12:02] ypriverol commented on #129
should we add this to the paper. Would be important for new readers to now in numbers the actual impact  of github in bioinformatics?

[2016-03-31 12:08] sje30 commented on #133
agree with sentiment, but note that this repo includes a .pdf of the manuscript!

[2016-03-31 12:10] sje30 commented on #129
1. note this is strictly all life-sciences papers, not just bioinformatics.

2. we could add extra data points to the graph showing mentions of other repos, e.g. sourceforge?  (What else is there?)

[2016-03-31 12:12] ypriverol commented on #129
@sje30 life-sciences would be fine. I guess if we put googlecode and Bitbucket would be fine.

[2016-03-31 12:22] #110 closed

[2016-03-31 12:26] sje30 commented on #129
Not broken down by year:

[code]

[2016-03-31 12:29] lgatto commented on #133
Do not put derived files... that are easy to generate. In our case, the pdf is the file that gets submitted, so we want to keep a trace.

I am not sure where to add it. It becomes technical and the right thing to do will depend, as in the pdf file here. May be this is mentioned in one of the references we cite.

[2016-03-31 12:33] lgatto commented on #129
I think this would be a really nice blog post or a bit more work and a little paper of its own. I am not sure we could include it in the manuscript as is, and I find it too interesting to put up as as supplementary vignette, with only 1-2 sentences or a additional box. What do you think?

[2016-03-31 12:39] sje30 commented on #129
yes, I think we can pursue this elsewhere.  Submit your paper (see point 1 at top of issue!).  I do like the order-of-magnitude response:  https://scholar.google.co.uk/scholar?q=github+bioinformatics&btnG=&hl=en&as_sdt=0%2C5 returns 10,500 hits

[2016-03-31 12:41] danielskatz commented on #130
I note that PLOS-submission-eps-converted-to.pdf is needed to build but is not in the repo

[2016-03-31 12:44] lgatto commented on #113
@ypriverol Now that we have all repos in a table, I would like to clean out that sentence in the text - at least remove the URLs, possibly rephrase. Will send a PR.

[2016-03-31 12:58] ypriverol commented on #129
@lgatto I guess we can even included it in the introduction.I don't think we have a limit for figures or restriction to put the the image in the introduction.

[2016-03-31 13:24] alex-konovalov commented on #133
@sje30 agree that there may be exceptions, like in the case when you want to store the submitted version of you may want to provide it for collaborators (I've tried to generate PDF yesterday to print and read at home and failed - cf #119).

I had look at the text under rule 1. It says "All or parts of its content can be added explicitly to the list of files to track" go gives a hint that some file

[2016-03-31 13:34] alex-konovalov commented on #129
Another metric is that https://github.com/search?utf8=%E2%9C%93&q=bioinformatics repors 3206 repository results as of this moment.

[2016-03-31 13:38] danielskatz commented on #130
I've submitted a pull request.

[2016-03-31 13:40] ypriverol commented on #130
@lgatto @danielskatz Thanks . I normally do my updates in the md file. @lgatto are you controlling the sync between both files.

[2016-03-31 14:10] lgatto commented on #129
It's not a matter of word limits of figures. Reporting such data required to cross-ref different metrics and sources to be credible. So it would require more work that a few sentences or a paragraph in the intro would give credit for. But I agree that it is definitely an important point.

May be we could just mention that there is an increase in using github and other similar repositories at refer

[2016-03-31 14:17] ypriverol commented on #129
@lgatto a new manuscript would be to mush but probably would be enough by adding a folder to the repo with the charts and the scripts that provide the information. In the future we can incrementally provide more information about that. It would be something like:

..\
  \document
   ....
  \github-statistics

[2016-03-31 14:29] lgatto commented on #129
yes, of supplementary info, but it deserves better than supplementary info or a directory - it's own repo that we could link to would be nice. @sje30 [tweeted](https://twitter.com/StephenEglen/status/715508667060207617) about it. Let's see if others have tried it or have suggestions and how to proceed.

[2016-03-31 14:31] lgatto commented on #113
I have pushed this change directly.

[2016-03-31 14:31] #113 closed

[2016-03-31 14:40] lgatto commented on #133
Changed in PR #137

[2016-03-31 14:40] #133 closed

[2016-03-31 14:44] lgatto commented on #130
Sorry, just catching up with this issue now, after seeing/commenting on the PR. I am happy to go through @danielskatz's PR and pull out individual changes later tonight or tomorrow.

[2016-03-31 14:44] #111 closed

[2016-03-31 14:49] ypriverol commented on #130
@lgatto I can take this one and do a PR in the later today. Yo can define the final strategy for the charts @sje30 and how they would be included or referenced from the manuscript.

[2016-03-31 15:04] sje30 commented on #129
why don't I blog about it separately?  that would be easiest.  Its not a
major point, and I think google scholar count gives the right "feel" to
support the paper.

On Thu, Mar 31 2016, Yasset Perez-Riverol wrote:

[2016-03-31 15:06] ypriverol commented on #129
To be honest, if we explain the procedure that we do to retrieve the numbers and we agree about that. I would feel more than happy to include the image in the paper. Then we can go for more statistics and more strongly version.

[2016-03-31 15:18] lgatto commented on #129
If you have time, that's great - also add a repo for reproducibility and pull requests. We would have a sentence in the intro and link to your blog, where we could continue the discussion.

[2016-03-31 16:07] tompollard commented on #89
@lgatto, is there still time to submit contributions?

[2016-03-31 16:16] lgatto commented on #89
Hoping to finalise soon, but probably not before the beginning of the weekend, so feel free to contribute.

[2016-03-31 16:53] tompollard opened #139 "Add a license file to the repo"
I guess this repo isn't a research project, but it does contain code, so it might be worth adding a licence file, unless it would confuse things in terms of the PLOS submission. This helps to reinforce the following point in the paper:

[2016-03-31 17:02] tompollard opened #140 "Add a citation to the repo"
The paper suggests that:

I expect the plan was to add this file when a full citation is available, but I'm just tracking the issue here as a reminder.

[2016-03-31 17:12] tompollard opened #141 "Open source vs public"
For me "open source" indicates the license associated with code, rather than whether or not a repository is public or private. Perhaps replace "Open source" with "Public" in the following sentence?

[2016-03-31 17:13] ypriverol commented on #140
@tompollard we will added to the README if the paper is accepted.

[2016-03-31 17:20] prvst commented on #141
yes, that's correct. A repository can have the source code available, but that does not mean the project is "open source".

[2016-03-31 17:24] tompollard commented on #141
Thanks, I'll be submitting a pull request shortly with some minor changes to the text, so will include a suggested change for this too.

[2016-03-31 17:38] tompollard opened #142 "Reference to support "pull requests improve code quality""
It would be good to add a reference to support the following statement, if possible:

[2016-03-31 18:23] tompollard opened #143 "Mentioning Figshare alongside Zenodo"
The following paragraph discusses the ability to archive code and obtain a DOI via Zenodo:

My understanding is that Figshare offer a similar service, so perhaps they should be mentioned too? See the following links for example:
- https://mozillascience.github.io/code-research-object/
- https://figshare.com/blog/Working_with_Github_and_Mozilla_to_enable_Code_as_a_Research_Output_/117

[2016-03-31 18:24] #141 closed

[2016-03-31 18:31] lgatto commented on #139
Done, thanks.

[2016-03-31 18:31] #139 closed

[2016-03-31 18:31] #130 closed

[2016-03-31 18:34] tompollard opened #145 "Integrate repo with Travis"
To emphasise the following point, it would be good if this repo was integrated with Travis to check that changes to markdown, style files etc don't break the Pandoc builds:

options such as different platforms and interpreter versions
(Supplementary Note, Section 2). In addition, it offers notifications
which allow your team and contributors to know if the new changes
work, and prevent the introdu

[2016-03-31 18:35] ypriverol commented on #145
Great Idea

[2016-03-31 18:43] ypriverol commented on #142
Couple of blog posts:
  - [ ] http://blog.smartlogic.io/2012/11/28/using-pull-requests-to-improve-code-quality-process-and-skills
  - Probably best option: Social Coding in GitHub: Transparency and Collaboration in an Open Software
    Repository http://dl.acm.org/citation.cfm?id=2145396#citedby

[2016-03-31 18:44] lgatto commented on #140
I have added a CITATION file with using the github URL. As mentioned by @ypriverol, we'll need to update it later - let's keep this issue open as a reminder.

[2016-03-31 18:47] lgatto commented on #145
This would be nice, but I wouldn't necessarily want to actually generate a new pdf at each commit. I think we should keep the pdfs as a submission snapshot.

[2016-03-31 18:49] tompollard opened #148 "Outline process for adding DOIs to Europe PMC"
It is interesting to see that dataset DOIs can be added directly to Europe PMC:

as Europe PubMed Central \cite{EuropePMCConsortium:2015}.

The citation to http://dx.doi.org/10.1093/nar/gku1061 is useful but I can't see any clear guidance for adding data DOIs. Is it possible to outline the process in the article?

[2016-03-31 18:50] ypriverol commented on #148
Probably is our of our scope.

[2016-03-31 18:54] tompollard commented on #145
This wouldn't affect content in the repository.  We would just trigger a test build on Travis whenever a new commit is made to check whether the commit has broken anything.

This is most useful when reviewing pull requests because you can immediately see whether or not the requested change will break the build.

[2016-03-31 18:54] lgatto commented on #142
@ypriverol could send that paper, I can't access it from home.

[2016-03-31 18:55] ypriverol commented on #142
https://www.cs.cmu.edu/~xia/resources/Documents/cscw2012_Github-paper-FinalVersion-1.pdf
[cscw2012_Github-paper-FinalVersion-1.pdf](https://github.com/ypriverol/github-paper/files/198373/cscw2012_Github-paper-FinalVersion-1.pdf)

[2016-03-31 18:56] tompollard commented on #148
Yes, I wondered that - no problem if you'd like to close this issue.

[2016-03-31 18:56] sje30 commented on #129
I'd like to do it in the next few days -- but when are you thinking of resubmitting?

[2016-03-31 18:57] #148 closed

[2016-03-31 18:58] sje30 commented on #145
That sounds neat.  I think people reading the article will expect to see elements of the ten tips used in this repo!

[2016-03-31 18:58] ypriverol commented on #129
yes, we should resubmit soon. To be honest I don't see why the current version is not accurate if we explain our query and provide the code in the repo.

[2016-03-31 18:59] lgatto commented on #143
I think it is good to add FigShare, indeed. Could you send a PR?

[2016-03-31 19:08] sje30 commented on #129
if you have time to incorporate, then fine by me!

My only concern is that I noticed the following slighly issue:

[code]

so the more longer search term generates more hits.

My data was searching for github.com which I assume (but have not
verified) is the most appropriate.

On Thu, Mar 31 2016, Yasset Perez-Riverol wrote:

[2016-03-31 19:11] tompollard commented on #143
Sure, will do!

[2016-03-31 19:19] ypriverol commented on #129
- [ ] http://www.ncbi.nlm.nih.gov/pmc/?term=github    All (4862)
  - [ ] http://www.ncbi.nlm.nih.gov/pmc/?term=github.com All (31)

[2016-03-31 19:49] ypriverol commented on #143
@tompollard I guess we can close this issue.

[2016-03-31 19:51] alex-konovalov commented on #129
You may need to look at least for `github.io` as well, for software package that host website on GitHub pages and do not have their own domain. Could you check how many hits this will return?

Could it be also possible to produce some output (e.g. the line containing "github") so you will be able to see how relevant all these almost 5000K hits are?

[2016-03-31 19:51] #143 closed

[2016-03-31 19:53] tompollard commented on #143
Yes, that's fine. Might suggest a minor update if anyone responds to:  https://twitter.com/tompollard/status/715621938861883394

[2016-03-31 19:56] lgatto commented on #129
If I read these number correctly, querying ncbi  and epmc for github and github.com give opposite results. And there's github.io, as mentioned above. IMHO, this highlights the fact that these results ought to be reported and interpreted with care.

[2016-03-31 19:58] ypriverol commented on #129
Probably you are rigth. Can we cite a blog post in Plos?

[2016-03-31 19:59] sje30 commented on #129
Yes.

For now I suggest you go with simple stat of 10.5k his on Google scholar...

On 31 March 2016 20:56:33 BST, Laurent Gatto <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-03-31 20:01] ypriverol commented on #129
Agree .. at the end we want to show is the trend by years to demonstrate and is getting common.

[2016-03-31 20:02] tompollard opened #151 "Using services like Github helps to backup code"
Perhaps I put too much trust in it, but for me a major benefit of Github (and distributed version control in general) is that it helps to make sure there is always a backup. I feel like this should be highlighted somewhere, perhaps even as a top level rule.

[2016-03-31 20:02] Tobias-Ternent commented on #129
Sounds like a great idea. I know this is a sight derailment form the original question, but since GitHub and Git itself are relatively new phenomena, perhaps a better historical usage of publicly accessible source version control in bioinformatics would be for SourceForge.
http://www.ncbi.nlm.nih.gov/pmc/?term=sourceforge
It might make for a nice graph to see the rise fall of SourceForge vs GitHub

[2016-03-31 20:08] lgatto commented on #151
May be not a rule, but probably worth mentioning that backup is a side effect of using GitHub or similar resources.

[2016-03-31 20:08] ypriverol commented on #129
http://www.ncbi.nlm.nih.gov/pmc/?term=sourceforge All (10213)

[2016-03-31 20:10] ypriverol commented on #151
Probably would be nice to mention it in the introduction. I will prefer to do not deviate the main attention around the aim of git and github.

[2016-03-31 20:13] #142 closed

[2016-03-31 20:40] alex-konovalov commented on #129
@sje30 yes, Google Scholar, even if it is not perfect in individual cases (it once reported to me my citation in a CV of my collaborator), reflects a general trend well. It also displays search context, and random checks show reasonable hits.

To compare, "github algebra" returned 4510 results, "github biochemistry" - 2450 and "github biostatistics" 1170.

[2016-03-31 21:05] alex-konovalov commented on #151
@tompollard good idea! Even more, with distributed VCS, not only you have backup elsewhere and can experiment with your fork/clone, but also you can easily experiment with git creating "toy" repositories. I remember that helped me greatly to learn Mercurial a while time ago, not like in times of using CVS and SVN with the centrally hosted repository... Just in case this may be useful to reflect in

[2016-03-31 21:27] alex-konovalov commented on #145
:100: great idea. Just to check, Travis will only run `pandoc manuscript.md -o manuscript.tex` but will not generate the PDF file, so if someone want to work on #119, these two issues are independent, right?

[2016-03-31 21:32] tompollard commented on #145
thanks @alex-konovalov, that's right. At the moment Travis only runs the first step of the build process ("make manuscript.tex"). We need to fix #119 before the other steps can be tested too.

[2016-03-31 21:33] alex-konovalov commented on #145
thanks @tompollard - my comment and your PR were submitted same minute :)

[2016-03-31 21:44] lgatto commented on #151
See PR #156

[2016-03-31 21:44] #151 closed

[2016-03-31 21:46] lgatto commented on #145
Great contribution @tompollard, thanks!

[2016-03-31 21:46] #145 closed

[2016-03-31 23:14] alex-konovalov commented on #119
I am working on this now and discovered a missing file:
[code]
Shall I comment it out, or could someone commit it please?

[2016-03-31 23:23] lgatto commented on #119
I am also looking into this. Just adding an `\include manuscript` is not enough.
I am going to add the missing file in a minute.

[2016-03-31 23:29] alex-konovalov commented on #119
We have list of authors in manuscript-plos.tex and the new one in manuscript.md. The LaTeX code for the header generated in manuscript.tex looks differently, and it seems that one should use the header from manuscript-plos.tex which is what PLOS requires. Is this the case?

If so, we might need to remove the header manuscript.md and keep it only in one place (manuscript-plos.tex)...

[2016-03-31 23:31] lgatto commented on #119
Yes @ypriverol, this was and still is the case. The author list will probably still change, anyway.

[2016-03-31 23:37] lgatto commented on #119
There are problems with the tables:
1. missing LaTeX packages:
[code]
2. Second table is completely broken (not interpreted as LaTeX at all) - may be due to another missing package.

[2016-03-31 23:51] alex-konovalov commented on #119
Also this:
[code]

[2016-03-31 23:52] lgatto commented on #119
@alex-konovalov we must anyway remove the figure from the source of the manuscript for submission (see note about commenting the `\includegraphics` in the REAMDE file).

[2016-04-01 00:05] alex-konovalov commented on #119
@lgatto most amazingly, if you will copy table 1 instead table 2, you have the same problem. And if you will swap table 2 and table 1, everything builds fine.

[2016-04-01 00:08] lgatto commented on #119
@alex-konovalov it is fixed now adding a newline (double space) between the tables, so that pandoc interprets the two tables as two `longtable` environments.

Still now perfect, as the tables a too large for the page and the caption are simple text, rather than proper captions.

[2016-04-01 00:15] alex-konovalov commented on #119
Great. At least now it looks like we are close to the state of building pdf automatically, and achieving this will help us to polish the final submission. When we will see PDF, it will be easier to see how we may compress tables. One of ideas for the table with the list of projects hosted on github is that they all have common prefix `https://github.com/`. If you can hide it, but make the remainin

[2016-04-01 00:19] lgatto commented on #119
or may be the easiest is to rotate them

[2016-04-01 01:06] lgatto commented on #119
Closing this issue, as `make manuscript-plot.pdf` works as expected, and now a commit will trigger the pdf to be build (rather than only `manuscript.tex`).

Please read the update README for instructions on what to modify - biggest change is that title and authors **must** be updated in `manuscript-plos.tex` following the syntax.

Note that tables are still out overflowing.

[2016-04-01 01:06] #119 closed

[2016-04-01 01:21] lgatto commented on #119
Tables are now sideways, using the `rotating` package (I hope that adding additional packages won't cause issues on the PLoS side). Not perfect yet, but at least we can read most of the content.

[2016-04-01 01:48] tompollard commented on #92
Fading is inevitable regardless of the funding model, so I'm not clear why the commercial aspect of Github would be a problem in itself. It is difficult to think of a digital service that can be indefinite, whether commercial or not.

[2016-04-01 02:44] tompollard opened #172 "Clarify opening sentence of Rule 9"
I'm just doing another pass of the text and making minor changes to the language, looking for typos etc. The meaning of the opening sentence in Rule 9 is a little unclear:

them in the peer-reviewed scientific literature. Additional steps can
boost the visibility of....

What is "them" in this sentence? Can "by publishing them in..." be replaced with "by publishing an associated paper in..."?

[2016-04-01 02:50] tompollard opened #173 "Rendering of Jupyter Notebooks"
GitHub renders Jupyter Notebooks, which is useful for people seeking to share reproducible research workflows. This might be worth mentioning somewhere:  http://blog.jupyter.org/2015/05/07/rendering-notebooks-on-github/

[2016-04-01 05:49] #172 closed

[2016-04-01 07:58] lgatto commented on #173
I think that becomes a bit too technical.

[2016-04-01 08:24] danielskatz opened #177 "licensing"
I don't think we really talk about licensing enough.  The text in 8 is ok, but it might be better to say something like:

You should use an OSI approved license (https://opensource.org/licenses/alphabetical). Common licenses such as those listed on http://choosealicense.com are preferred. Note that the LICENSE file in the repository should be a plain-text file containing the contents of an OSI app

[2016-04-01 08:38] lgatto commented on #177
Good suggestion, I'll update accordingly.

What do you mean by *included in the repository* at the end of the first sentence - that it should be part of the repo?

[2016-04-01 09:01] danielskatz commented on #177
I think the text got a bit messed up when I wrote the issue - I later edited it, as it is now:

You should use an OSI approved license (https://opensource.org/licenses/alphabetical). Common licenses such as those listed on http://choosealicense.com are preferred. Note that the LICENSE file in the repository should be a plain-text file containing the contents of an OSI approved license, not just a

[2016-04-01 09:08] lgatto commented on #177
Thanks, updated in PR #178

[2016-04-01 09:08] #177 closed

[2016-04-01 11:07] alex-konovalov opened #182 "Combining tables on one page"
Tables look much better now, but each of them occupies a single page. It seems from the availability of the free space that it may be possible to fit them into one page.

[2016-04-01 11:12] alex-konovalov commented on #182
Also, URLs in the tables are not clickable.

[2016-04-01 11:59] tompollard commented on #173
Sounds like others are in agreement, so I'll close this issue.

[2016-04-01 11:59] #173 closed

[2016-04-01 15:06] lgatto commented on #182
Clickable URLs is a thing I am happy to do later.

However, I am not sure how much time we should waste with figuring out how  to format the tables, as they will do it again themselves; I might try to split cells over a two lines.

[2016-04-01 15:06] alex-konovalov opened #185 "Remarks on Rule 1"
1) The 2nd sentence "Every change, from fixing a typo to a complete redesign of the software, is tracked and controlled by a unique identifier." seems to be out of place and should be moved later. Also, what does "controlled" mean here?

2) "Following Tony Rossini's advice in 2005 to "commit early, commit often..." - do we have a citation? Also, the word _commit_ should be introduced before. This

[2016-04-01 15:08] lgatto commented on #185
See https://github.com/ypriverol/github-paper/issues/101

[2016-04-01 15:08] lgatto commented on #185
That could be a useful addition, indeed.

[2016-04-01 15:10] ypriverol commented on #101
I ask for a citation but it apparently is not available for me is wear the current way if we don't have the citation

[2016-04-01 15:21] alex-konovalov opened #187 "Example for Rule 3"
It says: "It allows anyone to develop and test novel features with existing code and offers the possibility of contributing novel features, bug fixes, and improvements to documentation (https://twitter.com/rgfitzjohn/status/708309767240982528)"

It may be better to remove the link to the twitter and find an example of the project which has a label for documentation-related pull request to add in t

[2016-04-01 15:28] lgatto commented on #187
Fine by me.

[2016-04-01 15:38] alex-konovalov commented on #182
While we are on tables: is the order of items in table supposed to be alphabetical or there is some other logic what's recommended first?

[2016-04-01 15:39] lgatto commented on #182
I haven't identified any logic and meant to put some, but forgot. Feel free to do it if you want.

[2016-04-01 15:40] alex-konovalov commented on #182
I suggest alphabetically - will reorder them.

[2016-04-01 16:04] tompollard commented on #182
The table width issue should be solvable by changing the markdown used to generate them, I think. If some of the rows wrapped onto multiple lines, then the width will be okay. I'll take a look shortly.

[2016-04-01 18:07] lgatto commented on #182
@alex-konovalov I am updating the URLs, will also reorder table 1.

[2016-04-01 18:28] lgatto commented on #187
The reason I put up this tweet was not so much to give an example (we would need to give one for each case, really), but to show that even simple contributions are appreciated.

[2016-04-01 20:32] alex-konovalov commented on #185
@lgatto will add it after merging #192 then.

[2016-04-01 22:06] alex-konovalov commented on #185
@lgatto hm, I am struggling with finding a good formulation of this. We said that "In addition to local copies of the repository, it is straightforward to create remote repositories on GitHub (called `origin`, with default branch `master` - see below) using the web interface, and then synchronize local and remote repositories." so synchronization already implies that. If I am trying to insert the

[2016-04-01 22:19] lgatto commented on #185
May be it is clear enough the way it is now. No need to force it, I think.

[2016-04-01 22:33] lgatto commented on #89
I have updated the README page and closed the pubic PR request period. I think there are only a few minor updates left. @javizca - what's the time line for resubmission?

[2016-04-01 22:54] javizca commented on #89
Next Friday, one week to go

[2016-04-01 22:56] lgatto commented on #89
Ok, thanks. The funding info, which is needed during submission, is in [funding.md](https://github.com/ypriverol/github-paper/blob/master/document/funding.md).

[2016-04-01 23:57] lgatto commented on #185
Re your first point, I'll replace by

[2016-04-01 23:59] #185 closed

[2016-04-02 00:01] lgatto commented on #187
I'll remove the link to the tweet.

[2016-04-02 00:01] #187 closed

[2016-04-02 00:38] lgatto commented on #182
I have shortened the tables by removing the type in table 2 (it was not terribly informative and did not relate to anything directly in the text) and shorted the URLs be remove the common prefix in table 1, as suggested by @alex-konovalov  (with actual full/working clickable links).

It would be possible to fix the with of the columns, but that would require editing at the latex level as it can't

[2016-04-02 00:38] #182 closed

[2016-04-02 10:34] ypriverol commented on #129
@sje30 @lgatto as I promise I did a full study of bioinformatics repositories in Github

(https://computationalproteomic.blogspot.com/b/post-preview?token=Kug82FMBAAA.voHykOOy-lpKQurF_zGP2wNmEXMbYgGuWcbIL4dppWx6_2p7oX87F6qPlJatdssKhVprMgH1Nx9ztSn8wEIHCw.eKvsXN5jqgYFCgQeNTepfQ&postId=7457344730221950208&type=POST)

Interesting thing the chart generated by @sje30 using the data in PubMedCentral is a

[2016-04-02 12:15] lgatto commented on #129
Not my view of strong case/statistics, sorry.

Here's the data for google scholar (note how it returns results for pre-github years)

[code]

[code]
![gscholar](https://cloud.githubusercontent.com/assets/384198/14226182/73e3ee52-f8d2-11e5-9549-121fd9e41313.png)

The shape of the curve is pretty much the same as other sources, which points to a definite increase, although the actual values are unce

[2016-04-02 15:31] ypriverol commented on #129
Probably is not an strong statistics/case. However we can demonstrate the following things:
   - We are trying to see the adoption of GitHub by numbers. The GitHub plot shows how many
     repositories has been created from 2008 to 2016. This is an statistics coming from the same GitHub
     then the number of  bioinformatics repo can be high because some developers do not use the
     associated

[2016-04-02 16:48] sje30 commented on #129
My suggestion would be to keep things simple for now.  The reviewers
didn't ask for this (I did), so I think we should explore this
elsewhere...

[2016-04-02 17:07] ypriverol commented on #129
@sje30 @lgatto Then probably would be enough to make the blog post public? for now and then we can explore as @sje30 said? I guess is a good idea to use this numbers in the introduction to make robust our title.

[2016-04-03 09:37] #92 closed

[2016-04-03 09:37] #89 closed

[2016-04-03 09:38] ypriverol commented on #129
Hi all, I will make public the blog post and I just added a new label to the repo called follow up for future research including this issue.

[2016-04-04 07:49] kblin opened #203 "rule 3: paragraph 2 still reads a bit clumsy"
The beginning of the second paragraph of rule 2 is still a bit complicated. Maybe changing

to

will help a bit.

(Edited to actually complete my sentence)

[2016-04-04 15:41] tompollard commented on #129
I thought it might be helpful to add a Jupyter Notebook containing code and plots for the analysis, so have submitted a pull request: https://github.com/ypriverol/github-paper/pull/205

The benefit of having the analysis in a Notebook is that:
- we can continue to refine the approach together
- including the notebook demonstrates another nice aspect of GitHub

[2016-04-07 21:06] lgatto commented on #203
I think the 'without running into edit conflicts' is actually a bit misleading; there won't be conflicts while editing, there certainly can be conflicts when merging. What do you think?

[2016-04-08 12:29] kblin commented on #203
Right, but this is as opposed to having a .doc file on Dropbox, where you already run into conflicts while editing. I still think this is less confusing than "concurrent development"

[2016-04-10 13:54] #203 closed

[2016-04-16 10:01] lgatto opened #217 "Add links to github usernames"

[2016-04-16 10:01] lgatto commented on #217
See https://github.com/ypriverol/github-paper/commit/f4d83e08aca63302ad465e0579619c26eb141da3#commitcomment-17130574

[2016-04-16 16:00] jshoyer opened #218 "Retitle rules 2, 3, 4 in imperative voice"
Currently your rules 2, 3, 4 are not actual concise advice ("rules"), they are just general headings. 'Ten simple rules' articles frequently have this problem.

Cf. the seven simple rules at the end of this piece by Eckhardt: http://www.cs.cmu.edu/~davide/howto/git_lose.html

[2016-04-16 16:15] tompollard commented on #218
I agree, this would be an improvement. If the submission is accepted, perhaps we can update the rules during proofing...

[2016-05-13 18:28] rmflight opened #221 "found typo in abstract"
I can't find the abstract in the repo, but just noticed on the preprint (and assuming this is in the submitted version as well)

I've bolded it here, **codevoc** should be **codecov**

Did anyone catch that in the proofs?

[2016-05-13 18:59] lgatto commented on #221
Abstract is biorxiv only (there is no abstract for 10 simple rule manuscripts). Thanks for the catch. Will fix now.

[2016-05-13 18:59] #221 closed

[2016-07-15 12:28] mandel01 opened #226 "Table 2 is incorrect in the PLOS version of the article"
It just repeats Table 1. I see it is correct in the repo here.

![2016-07-15-07-27-06-screenshot](https://cloud.githubusercontent.com/assets/8669125/16874189/8e334370-4a5d-11e6-8ee8-f8beaf6fbde8.png)

[2016-07-15 12:53] ypriverol commented on #226
I guess the editorial process (that was painful) make a mistake. I will try to be in contact with Plos Computational Biology.

[2016-07-15 13:19] lgatto opened #227 "Error in link in table 1"
@ypriverol @javizca when you get in touch with PLoS regarding #226 , could you also mention the error in the link in the 6th row:

![2016-07-15-141732_1601x674_scrot](https://cloud.githubusercontent.com/assets/384198/16875365/fce52052-4a96-11e6-9e7f-b5d178302991.png)

Thanks!

[2016-07-15 13:19] #140 closed

[2016-07-15 13:19] #218 closed

[2016-07-15 13:19] #217 closed

[2016-07-17 16:43] lgatto opened #228 "Error in code chunk"
[code]

should be

[code]

(report by @sje30)

[2016-07-21 14:44] prvst opened #229 "Article comments on PLOS"
@ypriverol , @javizca

We have [comments](http://journals.plos.org/ploscompbiol/article/comments?id=10.1371/journal.pcbi.1004947) on the article web page, specially about PLOS mistakes.

[2016-07-21 15:15] lgatto commented on #229
We should redirect readers to the pre-print, if PLoS can't sort their shit a bit faster.

[2018-05-24 21:13] #228 closed

[2018-05-24 21:14] #226 closed

[2018-05-24 21:14] #227 closed

[2018-05-24 21:14] #129 closed

[2018-05-24 21:14] #229 closed